@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Error Add Student Page";    
}

<h1>Error</h1>
<p>An error occured during add of student.</p>
<p>There's probably existing user with given email or you haven't filled name or email field.</p>
<a asp-controller="Students" asp-action="Add">Try again!</a>