html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

li.nav-item.menu_item:hover > a {
    text-decoration: underline;
    color: green !important;
}

img.img_margin_bottom_wo_last {
    margin-bottom: 10px;
}

img.img_margin_bottom_wo_last:last-of-type {
    margin-bottom: 0;
}